%section#mayoral-candidates
  %h2#mayoral-candidates City of Oakland Mayoral Candidates
  %ul.mayoral-candidates
    - organizations.each do |o, name|
      - url = "/recipients/#{o.class.name.downcase}/#{o.id}"
      %li
        %a.mayoral-box{ style: "background-image: url(/images/#{name.split.last}.jpg)", href: url }
          %span.mayoral-box-name= name
        %table.mayoral-box-table
          %tbody
            %tr
              %th{ scope: 'row' } Cash On Hand:
              %td $10,000
            %tr
              %th{ scope: 'row' } Pct Small Donors:
              %td 20%
            %tr
              %th{ scope: 'row' } Donations:
              %td 1000

%section
  %h2 Charts
  #charts

- content_for :sidebar do
  %ul
    %li
      %a{ href: '#mayoral-candidates' } Mayoral Candidates

:javascript
  var charts = [
    {
      id: 'chart1',
      name: 'My Fancy Chart',
      description: 'How do these work?'
    },
    {
      id: 'donorLocation',
      name: 'Contributor Location',
      description: 'Where do donors live?'
    }
  ];

