%section#mayoral-candidates
  %h2#mayoral-candidates City of Oakland Mayoral Candidates
  #mayoral-table
    Loading data...

%section
  %h2 Charts
  #charts

- content_for :sidebar do
  %ul
    %li
      %a{ href: '#mayoral-candidates' } Mayoral Candidates

:javascript
  var charts = [
    {
      id: 'donorZipcode',
      name: 'Map of Donor Zipcodes',
      description: 'Where do donors live?'
    },
    {
      id: 'donorLocation',
      name: 'Contributor Location',
      description: 'Are donors local?'
    }
  ];

%script{ type: 'text/template', id: 'mayoral-table-template' }
  :plain
    <table>
      <thead>
        <tr>
          <th>Candidate</th>
          <th>Total Raised</th>
          <th>Number of Contributions</th>
          <th>Pct. outside Oakland</th>
          <th>Pct. small donors</th>
          <th>Avg. contribution</th>
        </tr>
      </thead>
      <tbody>
        <% _.each(models, function(m) { %>
          <tr>
            <th scope='row'>
              <%= m.attributes.short_name %>
            </th>
            <td><%= m.friendlySummaryNumber('ending_cash_balance') %></td>
            <td>(#)</td>
            <td>(%)</td>
            <td>(%)</td>
            <td>($.$$)</td>
          </tr>
        <% }); %>
      </tbody>
    </table>
