%h2 Recipients (Mayoral Candidates)
%ul
  - organizations.each do |o|
    %li
      %a{ href: "/recipients/#{o.class.name.downcase}/#{o.id}" }= o.name

%h2 Contributors
%ul
  %li
    %a{ href: '/contributions?type=individuals' } Individuals
  %li
    %a{ href: '/contributions?type=committees' } Committees
  %li
    %a{ href: '/contributions?type=others' } Others
