!!! 5
%html
  %head
    %meta{charset: "utf-8"}
    %meta{content: "IE=edge,chrome=1", "http-equiv" => "X-UA-Compatible"}
    %title Open Disclosure
    %meta{content: "width=device-width, user-scalable=no", name: "viewport"}
    %link{ rel: 'stylesheet', href: '//fonts.googleapis.com/css?family=Open+Sans:400,700|Crete+Round' }
    -#
      Include the assets/css/application.css.scss manifest. If you want to
      include another manifest here, you must also add it to the
      "assets_precompile" array in app.rb
    = stylesheet_tag 'application'
    %link{ href: image_path('favicon.ico'), rel:'icon' , type: 'image/x-icon'}
    :css
      /* TODO: Move this out of here and into its own stylesheet. */
      .city-tile {
        background-color: #fff;
        width: 280px;
        padding: 10px;
        float: left;
        margin: 10px;
      }
      .city-tile:hover h2 {
        text-decoration: underline;
      }

  %body
    %section{ style: 'width: 940px; margin: auto; text-align: center;' }
      %h1 Open Disclosure
      %a.city-tile{ href: subdomain_url('oakland', '/') }
        %img{ src: image_path('OaklandCityTree.png'), style: 'width: 100%' }
        %h2 Oakland

      %a.city-tile{ href: subdomain_url('sf', '/') }
        %img{ src: image_path('sf.svg'), style: 'width: 100%'  }
        %h2 San Francisco

      %a.city-tile{ href: subdomain_url('sanjose', '/') }
        %img{ src: image_path('sj.png'), style: 'width: 100%' }
        %h2 San Jose
