%section#mayoral-candidates
  Loading data...

%section#charts
  %h2 Charts
  #charts
    #zip-bubble-chart
    #daily-contributions-chart

- content_for :sidebar do
  %ul
    %li
      %a{ href: '#mayoral-candidates' } Mayoral Candidates

%script{ type: 'text/template', id: 'mayoral-table-template' }
  :plain
    <h3>How much the mayoral candidates have raised and spent</h3>
    <h5>Includes candidates who have submitted fundraising data; may not include all those who have declared their candidacies.</h5>
    <table id='mayoral-table'>
      <thead>
        <tr>
          <th></th>
          <th></th>
          <th>Total Raised</th>
          <th>Number of itemized contributions</th>
          <th>Percentage from outside Oakland</th>
          <th>Percentage from small donations*</th>
          <th>Average of itemized contributions</th>
        </tr>
      </thead>
      <tbody>
        <% _.each(models, function(m) { %>
          <tr>
            <td>
              <a href= '/#candidate/<%-m.attributes.id %>'><img class='mayor-picture' src="<%= m.imagePath() %>" /></a>
            </td>
            <td scope='row'>
              <div class='mayor-info'>
                <a href= '/#candidate/<%-m.attributes.id %>'><p class='mayor-name green'><%- m.attributes.short_name %></p>
                <p class='mayor-profession'><%- m.attributes.profession %></p>
                <p class='mayor-party'><%- m.attributes.party_affiliation %></p>
              </div>
            </th>
            <% if (m.attributes.summary) { %>
              <td><%= m.friendlySummaryNumber('total_contributions_received') %></td>
              <td><%= m.attributes.received_contributions_count %></td>
              <td><%= m.pctContributionsFromOakland() %></td>
              <td><%= m.pctSmallContributions() %></td>
              <td><%= m.avgContribution() %></td>
            <% } else { %>
              <td colspan="5">No Data Available :(</td>
            <% } %>
          </tr>
        <% }); %>
      </tbody>
    </table>
    <p>Last Updated on March 31, 2014</P>
    <p> * Candidates do not need itemize contributions less than $100 </p>
