%section#mayoral-candidates
  Loading data...

%section
  %h2 Charts
  #charts

- content_for :sidebar do
  %ul
    %li
      %a{ href: '#mayoral-candidates' } Mayoral Candidates

:javascript
  var charts = [
    {
      id: 'donorZipcode',
      name: 'Map of Donor Zipcodes',
      description: 'Where do donors live?'
    },
    {
      id: 'leaderByZipcode',
      name: 'Leading Candidate by Zipcode',
      description: 'Where are candidates leading?'
    }
  ];

%script{ type: 'text/template', id: 'mayoral-table-template' }
  :plain
    <table id='mayoral-table'>
      <thead>
        <tr>
          <th></th>
          <th></th>
          <th>Total Raised</th>
          <th>Number of itemized contributions</th>
          <th>Percentage from outside Oakland</th>
          <th>Percentage from small donations*</th>
          <th>Average of itemized contributions</th>
        </tr>
      </thead>
      <tbody>
        <% _.each(models, function(m) { %>
          <tr>
            <td>
              <img class='mayor-picture' src="<%= m.imagePath() %>" />
            </td>
            <th scope='row'>
              <div class='mayor-info'>
                <a href= '/#candidate/<%-m.attributes.id %>'><h3 class='mayor-name'><%- m.attributes.short_name %></h3>
                <p class='mayor-profession'><%- m.attributes.profession %></p>
                <p class='mayor-party'><%- m.attributes.party_affiliation %></p>
              </div>
            </th>
            <td><%= m.friendlySummaryNumber('total_contributions_received') %></td>
            <td><%= m.attributes.received_contributions_count %></td>
            <td><%= m.pctContributionsFromOakland() %></td>
            <td><%= m.pctSmallContributions() %></td>
            <td><%= m.avgContribution() %></td>
          </tr>
        <% }); %>
      </tbody>
    </table>
    <p> * Candidates do not need itemize contributions less than $100 </p>
