!!! 5
%html
  %head
    %meta{charset: "utf-8"}
    %meta{content: "IE=edge,chrome=1", "http-equiv" => "X-UA-Compatible"}
    %title Open Disclosure
    %meta{content: "width=device-width", name: "viewport"}
    %link{ href: '/css/bootstrap.min.css', rel: 'stylesheet' }
    %link{ href: '//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css', rel: 'stylesheet' }
    %link{ href: 'http://fonts.googleapis.com/css?family=Merriweather:300,400,700|Open+Sans:400,300,800', rel:"stylesheet" }
    %link{ href:'http://fonts.googleapis.com/css?family=Crete+Round', rel:"stylesheet", type:'text/css'}
    %link{ href: "/css/main.css", rel: "stylesheet" }
    %link{ href: "/css/charts.css", rel: "stylesheet" }
    %link{ href: "/css/daily-contributions-chart.css", rel: "stylesheet"}

  %body
    .disclaimer
      %i.glyphicon.glyphicon-exclamation-sign
      This site is
      %a{ href: 'https://github.com/openoakland/opendisclosure' }
        under active development
      and all data is unfinalized.
      %a{ href: 'http://www.meetup.com/OpenOakland/' }
        You can help us finish it!

    %header
      / .container-fluid
      .row
        #logo.leftCol
          %a{ href: '/' }
            %img{ src: '/images/OaklandCityTree.png'}
        #titleContainer.rightCol
          %p.subtitle 2014 Oakland Mayoral Election
          %p.title.green Campaign Finance Analysis

    .container-fluid
      .row
        .sidebar.leftCol{ role: 'navigation'}
          %ul.nav.nav-sidebar
            / Hiding these until we have some content there - KW 5/19/14
            / %li
            /   %a{ href: '#' } About Us
            / %li
            /   %a{ href: '#' } Where does the data come from?
            / %li
            /   %a{ href: '#' } Contribute
            %li
              %a{href: '/'} Candidates
              %ul.nav.nav-sidebar.compressed
                - Party.mayoral_candidates.each do |c|
                  %li
                    %a{ href: "/#candidate/#{c.id}" }= c.short_name

        .main.col-sm-offset-1.col-sm-8
          .row= yield

    / Third Party (cdn)
    %script{src: "http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"}
    %script{src: "http://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.4.4/underscore-min.js"}
    %script{src: "http://cdnjs.cloudflare.com/ajax/libs/d3/3.3.3/d3.min.js"}
    %script{src: '//cdnjs.cloudflare.com/ajax/libs/backbone.js/1.1.2/backbone-min.js'}

    / Google apis
    %script{src: "https://www.google.com/jsapi"}
    %script{src: "/js/vendor/GoogleChart.js"}
    :javascript
      google.load('visualization', '1.0', {'packages':['corechart']});


    / Third Party (local)
    / %script{src: "/js/vendor/underscore.js"}
    / %script{src: "/js/vendor/jquery-1.10.1.min.js"}
    / %script{src: "/js/vendor/backbone-min.js"}
    / %script{src: "/js/vendor/d3.v3.min.js"}

    %script{src: "/js/vendor/topojson.v1.min.js"}
    %script{src: "/js/vendor/bootstrap.min.js"}
    %script{src: "/js/vendor/modernizr-2.6.2-respond-1.1.0.min.js"}
    %script{src: "/js/vendor/accounting.min.js"}


    %script{src: "/js/config.js"}

    / Models
    %script{src: "/js/models/candidate.js"}
    %script{src: "/js/models/contribution.js"}

    / Collections
    %script{src: "/js/collections/candidates.js"}
    %script{src: "/js/collections/contributions.js"}

    / Views
    %script{src: "/js/views/candidate.js"}
    %script{src: "/js/views/candidateTable.js"}
    %script{src: "/js/views/chartsWrapper.js"}
    %script{src: "/js/views/charts.js"}
    %script{src: "/js/views/dailyContributionsChart.js"}
    %script{src: "/js/views/contributorsView.js"}
    %script{src: "/js/views/topContributorsView.js"}
    %script{src: "/js/views/categoryView.js"}

    / App
    %script{src: "/js/util.js"}
    %script{src: "/js/app.js"}

    :javascript
      <!-- Google Analytics -->
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-50973042-1', 'auto');
      ga('send', 'pageview');
