#zip-bubble-chart {
	padding: 0;
	margin: 10px 10px 15px 15px;
}

g.legend rect.name {
	fill : #f0f0f0;
}

.q0-12{fill: #E3BA22} 
.q1-12{fill: #E6842A} 
.q2-12{fill: #137B80} 
.q3-12{fill: #8E6C8A} 
.q4-12{fill: #5C8100} 
.q5-12{fill: #8E6C8A} 
.q6-12{fill:rgb(253,191,111)} 
.q7-12{fill:rgb(255,127,0)} 
.q8-12{fill:rgb(202,178,214)} 
.q9-12{fill:rgb(106,61,154)} 
.q10-12{fill:rgb(255,255,153)} 
.q11-12{fill:rgb(177,89,40)}

.hover .status.q0-12{fill: #957a17} 
.hover .status.q1-12{fill: #774416} 
.hover .status.q2-12{fill: #0b4a4e} 
.hover .status.q3-12{fill: #473646} 
.hover .status.q4-12{fill: #374d00} 

.selected .status.q0-12{fill: #957a17} 
.selected .status.q1-12{fill: #774416}
.selected .status.q2-12{fill: #0b4a4e} 
.selected .status.q3-12{fill: #473646} 
.selected .status.q4-12{fill: #374d00} 