#zip-bubble-chart {
	padding: 0;
	margin: 0;
}

.zip {
	fill: #ebebeb;
  stroke: #9c9c9c
}

path.q0-12{fill: #FBA723} 
path.q1-12{fill: #0087E5} 
path.q2-12{fill: #26D5F5} 
path.q3-12{fill: #A8E938} 
path.q4-12{fill: #FED35E} 
path.q5-12{fill: #FD2D2D} 
path.q6-12{fill: #E1266C} 
path.q7-12{fill: #DA9EE7} 
path.q8-12{fill: #0A588f} 
path.q9-12{fill: #8E34F4}
path.q10-12{fill: #2FB788} 
path.q11-12{fill: #BA0012}
path.q12-12{fill: #B9A101}
path.q13-12{fill: #480A6A}

circle.q0-12{fill: #FBA723} 
circle.q1-12{fill: #0087E5} 
circle.q2-12{fill: #26D5F5} 
circle.q3-12{fill: #A8E938} 
circle.q4-12{fill: #FED35E} 
circle.q5-12{fill: #FD2D2D} 
circle.q6-12{fill: #E1266C} 
circle.q7-12{fill: #DA9EE7} 
circle.q8-12{fill: #0A588f} 
circle.q9-12{fill: #8E34F4}
circle.q10-12{fill: #2FB788} 
circle.q11-12{fill: #BA0012}
circle.q12-12{fill: #B9A101}
circle.q13-12{fill: #480A6A}

.legend.hover .q0-12{fill: #FBA723} 
.legend.hover .q1-12{fill: #0087E5} 
.legend.hover .q2-12{fill: #26D5F5} 
.legend.hover .q3-12{fill: #A8E938} 
.legend.hover .q4-12{fill: #FED35E} 
.legend.hover .q5-12{fill: #FD2D2D} 
.legend.hover .q6-12{fill: #E1266C} 
.legend.hover .q7-12{fill: #DA9EE7} 
.legend.hover .q8-12{fill: #0A588f} 
.legend.hover .q9-12{fill: #8E34F4}
.legend.hover .q10-12{fill: #2FB788} 
.legend.hover .q11-12{fill: #BA0012}
.legend.hover .q12-12{fill: #B9A101}
.legend.hover .q13-12{fill: #480A6A}

.legend.selected .q0-12{fill: #FBA723} 
.legend.selected .q1-12{fill: #0087E5} 
.legend.selected .q2-12{fill: #26D5F5} 
.legend.selected .q3-12{fill: #A8E938} 
.legend.selected .q4-12{fill: #FED35E} 
.legend.selected .q5-12{fill: #FD2D2D} 
.legend.selected .q6-12{fill: #E1266C} 
.legend.selected .q7-12{fill: #DA9EE7} 
.legend.selected .q8-12{fill: #0A588f} 
.legend.selected .q9-12{fill: #8E34F4}
.legend.selected .q10-12{fill: #2FB788} 
.legend.selected .q11-12{fill: #BA0012}
.legend.selected .q12-12{fill: #B9A101}
.legend.selected .q13-12{fill: #480A6A}

svg rect#background{
	fill: #FFFFFF;
}

.legend { 
	cursor: pointer;
}

.legend text{
	fill: #555555;
	text-anchor: end;
}

.legend rect.name {
	fill : #ffffff;
}

.legend rect.status {
	fill: #ebebeb;
}

/*.legend.hover rect.name {
	fill: #f5f5f5;
}*/

.legend.hover text{
	fill: black;
}

.legend.selected rect.name {
	fill: #fafafa;
}



.legend.selected text{
	fill: black;
}

#scale {
	display: none;
}