#zip-bubble-chart {
	padding: 0;
	margin: 10px 10px 15px 15px;
}

g.legend rect.name {
	fill : #f0f0f0;
}

.q0-12{fill: #E3BA22} 
.q1-12{fill: #E6842A} 
.q2-12{fill: #137B80} 
.q3-12{fill: #8E6C8A} 
.q4-12{fill: #5C8100} 
.q5-12{fill: #8E6C8A} 
.q6-12{fill:rgb(253,191,111)} 
.q7-12{fill:rgb(255,127,0)} 
.q8-12{fill:rgb(202,178,214)} 
.q9-12{fill:rgb(106,61,154)} 
.q10-12{fill:rgb(255,255,153)} 
.q11-12{fill:rgb(177,89,40)}

.legend text{
	fill: #555555;
}

.legend.hover text{
	fill: black;
}

.legend.selected text{
	fill: black;
}