
div#daily-contributions-chart path { 
    /*stroke: steelblue;*/
    stroke-width: 3;
    fill: none;
}

div#daily-contributions-chart .axis path,
.axis line {
  fill: none;
  stroke: #000;
  stroke-width: 1;
  shape-rendering: crispEdges;
}

div#daily-contributions-chart {
  margin-top: 30px;
  /*margin-left: 300px;*/
  margin-bottom: 30px;
}