
div#daily-contributions-chart path { 
    /*stroke: steelblue;*/
    stroke-width: 4;
    fill: none;
}

div#daily-contributions-chart .axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

div#daily-contributions-chart {
  margin-top: 30px
}