
div#dailyChart path {
    /*stroke: steelblue;*/
    stroke-width: 3;
    fill: none;
}

div#dailyChart .axis path,
.axis line {
  fill: none;
  stroke: #000;
  stroke-width: 1;
  shape-rendering: crispEdges;
}

div#dailyChart {
  margin-top: 30px;
  /*margin-left: 300px;*/
  margin-bottom: 30px;
}

div#dailyChart .q0-12{stroke: #000000}
div#dailyChart .q1-12{stroke: #0087E5}
div#dailyChart .q2-12{stroke: #26D5F5}
div#dailyChart .q3-12{stroke: #A8E938}
div#dailyChart .q4-12{stroke: #FED35E}
div#dailyChart .q5-12{stroke: #FD2D2D}
div#dailyChart .q6-12{stroke: #E1266C}
div#dailyChart .q7-12{stroke: #DA9EE7}
div#dailyChart .q8-12{stroke: #0A588f}
div#dailyChart .q9-12{stroke: #8E34F4}
div#dailyChart .q10-12{stroke: #2FB788}
div#dailyChart .q11-12{stroke: #BA0012}
div#dailyChart .q12-12{stroke: #B9A101}
div#dailyChart .q13-12{stroke: #480A6A}
