/* ==========================================================================
   Author's custom styles
   ========================================================================== */

@import '_sass-enhance';

/* ------------------- BASE STYLES -------------------- */

$color-green-accent: #539137;
$color-green-dark: #0F4800;
$color-gray-text: #555;
$color-gold-highlight: #FFDD1F;

body, html {
  background-image: image_url('squairy_light.png');
  font-family: 'Open Sans', sans-serif;
  color: $color-gray-text;
}

a {
  text-decoration: none;
  color: $color-green-accent;

  &:hover {
    color: #303030;
    outline: none;
    text-decoration: none;
  }
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Crete Round', serif;
}

h2, h4 {
  text-align: center;
}

/* ------------------- HEADER -------------------- */

header {
  padding: 0;
  margin: 0;
  overflow: hidden;
  position:relative;
  width: 100%;
  /*min-height:132px;*/
}

.main-header {
  background-color: #fff;
  margin-bottom: 30px;
  padding: 12px;
  width: 100%;

  .header-oakland-logo, .header-title-container {
    height: 100%;
  }

  .header-oakland-logo {
    text-align: center;

    img {
      width: 75%;
    }
  }

  .header-title-container {
    padding-top: 26px;
  }

  .header-main-title {
    color: $color-gray-text;
    font-size: 40px;
    display: inline-block;
  }
  .header-main-title-green{
    color: $color-green-accent;
    font-size: 40px;
    display: inline-block;
  }

  .header-catchphrase {
    display: inline-block;
    font-size: 16px;
    margin-left: 12px;
  }
}

h2.mayor2014 {
  border-bottom: 1px solid #fff;
  font-size: 22px;
  letter-spacing: 1px;
  margin: 5px;
  padding-bottom: 4px;
  text-align: left;
  text-transform: uppercase;
}

/* ------------------- SIDEBAR -------------------- */

.sidebar-container {
  box-sizing: border-box;
  font-size: 16px;
  list-style: none;
  padding: 0 20px 0 0;
  position: absolute;

  &.affix {
    position: fixed;
    top: 15px;
  }

  .sidebar {
    background-color: rgba(255, 255, 255, 0.5);
    border-top: 2px solid #fff;
  }
}

.sidebar a{
  display: block;
  color:inherit;
}

.sidebar .compressed a:hover{
  display: block;
  color:inherit;
  background-color: $color-gold-highlight;
}

.sidebar .active > a {
  font-weight: bold;
  color: #539137;
  background-color: $color-gold-highlight;
}

.compressed li {
  font-size: 14px;
  line-height: 14px;
  padding: 0 0 0 10px;

}

.sidebar .nav>li>a:hover,
.sidebar .nav>li>a:active {
text-decoration: none;
background-color: $color-gold-highlight;
}

/* ------------------- GENERAL LAYOUT -------------------- */

.main {
  min-height: 600px;
}

.main section{
  border-bottom: 2px solid #539137;
  padding: 15px 0;
}

/*#gallery .gallery-item {
  width: 200px;
  background: rgba(255, 255, 255, 0.5);
  height: 200px;
  padding: 10px;
  margin: 10px;
  float: left;
}

/* ------------------- FOOTER -------------------- */
.main-footer {
  background-color: $color-green-dark;
  margin-top: 36px;
  padding: 12px 30px;
  width: 100%;
  text-align: right;

  .footer-logos {
    height: 90px;
  }
}

/* ------------------- HOMEPAGE MAYOR TABLE -------------------- */


#mayoral-table {
  margin: 20px 0;

  #mayoral-table-picture-column, #mayoral-table-name-column {
    width: auto;
  }

  .mayoral-table-head {
    font-size: 14px;
    line-height: 18px;
    padding: 4px 8px 8px 8px;
  }

  .mayor-info {
    font-size: 12px;
    line-height: 16px;
    text-align: left;
  }

  .mayor-picture {
    border: 1px solid #c0c0c0;
    width: 80px;
  }

  .mayor-picture:hover {
    opacity:0.9;
  }

  .mayor-name {
    font-size: 18px;
    font-weight: 700;
    line-height: 21px;
    padding-bottom: 3px;
  }

  .mayoral-table-number,
  .mayoral-table-blank {
    vertical-align: middle;
  }

  th {
    font-size: 16px;
    font-weight: normal;
    width: 130px;
  }

  th.bold {
   font-weight:bold;
  }

  td {
    border-top: 2px white solid;
    font-size: 18px;
  }

  td, th {
    padding: 14px 8px;
    text-align: center;

    &:nth-child(3) {
      background-color: rgba(0, 0, 0, 0.1);
    }
  }

  p {
    margin: 0;
  }
}

/* ------------------- Candidate Page -------------------- */

div#candidate {

  h2, h4 {
    text-align: left;
  }

  section#candidateDetails{
    div {
      padding: 0 4px;
    }

    img {
      border: 1px solid #c0c0c0;
      margin: 0 0 6px 8px;
      width: 90%;
    }

    p {
      font-size: 13px;
      line-height: 19px;
      margin-bottom: 5px;
      padding: 0 8px;
    }

    .fa-twitter{
      vertical-align: middle;
      color: #555555;
      font-size: 14px;
      margin-right: 4px;
    }

    .sources{
      font-size: 11px;
      line-height: 15px;
      margin-bottom: 10px;
      padding: 0 6px;
    }

    .sources span{
      font-size: 13px;
    }

  }

  .contributions, .multiples {
    margin-bottom: 1em;
  }
}

#mathbar {
  border-bottom: none;
  color: white;
  font-family: 'Crete Round', serif;
  line-height: 20px;
  width: 100%;
  padding: 0;
  margin: 0;

  .money-label {
    background-color: $color-green-accent;
    font-size: 15px;
    letter-spacing: 0.7px;
    padding: 6px 12px;
  }

  .money-number {
    font-size: 24px;
  }

  .mathsign {
    float: right;
    font-size: 32px;
    line-height: 2px;
  }

  .money-label.count{
    background-color: $color-gold-highlight;
    color: #303030;
  }

}


/* ------------------- About Page -------------------- */
#about {
  font-size: 14;
  max-width: 800px;
}

/* ------------------- FAQ Page -------------------- */

#faq {

  table {
    margin: 15px auto;
    border:1px solid black;

    th, td {
      text-align: center;
      padding: 5px 10px;
      border:1px solid black;
    }

  }


}
