

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

body, html {
  background-image: url('/images/squairy_light.png');
  font-family: 'Open Sans', sans-serif;
}

/* ------------------- HEADER -------------------- */
.site-header {
  height: 147px;
  position: relative;
  text-align: right;
  font-family: 'Merriweather', serif;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, .5);
}

.site-header h1 {
  margin: 0;
  font-size: 24px;
  font-variant: small-caps;
}

.site-header h2 {
  font-size: 36px;
  font-weight: 700;
}

.site-header a {
  text-decoration: none;
}

.site-header a:hover {
  text-decoration: underline;
}

.disclaimer {
  background-color: yellow;
  box-shadow: 0px -2px 7px rgba(0,0,0,0.2) inset;
  font-size: 14px;
  padding: 1em;
  margin-bottom: 10px;
  text-align: center;
  width: 100%;
}

.disclaimer a {
  color: #000;
  font-weight: bolder;
}

/* ------------------- HOMEPAGE MAYOR TABLE -------------------- */
#mayoral-candidates th {
  font-weight: normal;
}

#mayoral-candidates p {
  margin: 0;
}

#mayoral-candidates thead th {
  max-width: 150px;
  text-align: center;
  padding: 10px;
}

#mayoral-candidates tbody th {
  padding: 0 10px 10px 0;
}

#mayoral-candidates td {
  text-align: center;
}

.mayor-info {
  display: inline-block;
  vertical-align: middle;
}

.mayor-picture {
  padding: 0 10px 10px 0;
  width: 80px;
}

.mayor-name {
  font-family: 'Merriweather', serif;
  font-size: 18px;
  font-weight: 700;
  margin: 0;
}

/* ------------------- GENERAL LAYOUT -------------------- */

#gallery .gallery-item {
  width: 200px;
  background: rgba(255, 255, 255, 0.5);
  height: 200px;
  padding: 10px;
  margin: 10px;
  float: left;
}

#gallery .gallery-item h3{
  margin: 0;
}

/* ------------------- SIDEBAR -------------------- */

.sidebar {
  font-size: 16px;
  color: #000;
  list-style: none;
  padding: 0;
  margin: 0;
  width: 190px;
}

.sidebar ul {
  list-style: none;
  padding: 4px 4px 4px 20px;
}

.sidebar a{
  display: block;
  padding: 4px 0;
}

.sidebar li.active {
  font-weight: bold;
}
