/* ==========================================================================
   Author's custom styles
   ========================================================================== */

@import '_sass-enhance';

/* ------------------- BASE STYLES -------------------- */

$color-green-accent: #539137;
$color-green-dark: #0F4800;
$color-gray-text: #555;
$color-gold-highlight: #FFDD1F;

$font-size-base: 12px;
$font-size-xlarge: #{40px / $font-size-base}em;
$font-size-large: #{22px / $font-size-base}em;
$font-size-medium: #{16px / $font-size-base}em;
$font-size-small: #{14px / $font-size-base}em;
$font-size-xsmall: #{12px / $font-size-base}em;

$font-size-main-header: $font-size-xlarge;
$font-size-header-catchphrase: $font-size-medium;
$font-size-header-mayoral: $font-size-large;
$font-size-sidebar: $font-size-small;
$font-size-mayoral-table-header: $font-size-xsmall;
$font-size-mayoral-table-info: $font-size-xsmall;
$font-size-mayoral-table-number: $font-size-medium;

body, html {
  background-image: image_url('squairy_light.png');
  font-family: 'Open Sans', sans-serif;
  font-size: $font-size-base;
  color: $color-gray-text;

  @include degrade(small) {
    font-size: 10px;
  }

  @include degrade(extra-small) {
    font-size: 8px;
  }
}

a {
  text-decoration: none;
  color: $color-green-accent;

  &:hover {
    color: #303030;
    outline: none;
    text-decoration: none;
  }
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Crete Round', serif;
}

h2, h4 {
  text-align: center;
}

.clearfix {
  clear: both;
}

/* ------------------- disclaimer -------------------- */

.disclaimer {
  background-color: yellow;
  box-shadow: 0px -2px 7px rgba(0,0,0,0.2) inset;
  font-size: 14px;
  padding: 1em;
  text-align: center;
  width: 100%;
}

.disclaimer a {
  color: #000;
  font-weight: bolder;
}

/* ------------------- HEADER -------------------- */

header {
  padding: 0;
  margin: 0;
  overflow: hidden;
  position:relative;
  width: 100%;
  /*min-height:132px;*/
}

.main-header {
  background-color: #fff;
  margin-bottom: 12px;
  padding: 12px;
  width: 100%;

  a {
    color: inherit;
  }

  .header-oakland-logo, .header-title-container {
    height: 100%;
  }

  .header-oakland-logo {
    text-align: center;

    img {
      width: 75%;
    }
  }

  .header-title-container {
    @include enhance(medium) {
      padding-top: 3em;
    }
  }

  .header-main-title {
    color: $color-gray-text;
    font-size: $font-size-main-header;
    display: inline-block;
    margin-right: 10px;

    @include degrade(medium) {
      margin-top: 0;
      text-align: center;
    }

    .header-oakland-logo-inline {
      height: 1em;
      display: none;

      @include degrade(extra-small) {
        float: left;
        display: inline-block;
        margin-right: 10px;
      }
    }
  }

  .header-main-title-green {
    color: $color-green-accent;
  }

  .header-catchphrase {
    display: inline-block;
    font-size: $font-size-header-catchphrase;
    margin-left: 12px;

    @include degrade(medium) {
      margin: 0 0 1em 0;
    }
  }
}

.mayoral-context-header {
  border-bottom: 1px solid #fff;
  font-size: $font-size-header-mayoral;
  letter-spacing: 1px;
  margin: 5px;
  padding-bottom: 4px;
  text-align: left;
  text-transform: uppercase;
}

/* ------------------- SIDEBAR -------------------- */

.sidebar-container {
  box-sizing: border-box;
  font-size: $font-size-sidebar;
}

.sidebar {
  background-color: rgba(255, 255, 255, 0.5);
  border-top: 2px solid #fff;

  li > a {
    display: block;
    color: inherit;
    text-decoration: none;
    line-height: 18px;
    padding: 6px 12px;

    &:hover {
      background-color: $color-gold-highlight;
    }
  }

  .compressed li {
    font-size: .8em;
    line-height: 1.2em;
    padding: 0 0 0 10px;
  }

  .compressed li > a {
    padding: 4px 16px;
  }

  .compressed a:hover{
    background-color: $color-gold-highlight;
  }
}

/* ------------------- GENERAL LAYOUT -------------------- */

.main {
  min-height: 600px;
}

.main section{
  border-bottom: 2px solid #539137;
  padding: 15px 0;
}

/*#gallery .gallery-item {
  width: 200px;
  background: rgba(255, 255, 255, 0.5);
  height: 200px;
  padding: 10px;
  margin: 10px;
  float: left;
}

/* ------------------- FOOTER -------------------- */
.main-footer {
  background-color: $color-green-dark;
  margin-top: 36px;
  padding: 12px 50px 30px;
  width: 100%;
  text-align: right;

  .footer-logos {
    height: 90px;
  }
}

/* ------------------- HOMEPAGE MAYOR TABLE -------------------- */


#mayoral-table {
  margin: 20px 0;

  #mayoral-table-picture-column, #mayoral-table-name-column {
    width: auto;
  }

  .mayoral-table-head {
    font-size: $font-size-mayoral-table-header;
    line-height: 15px;
    padding: 4px 8px 8px 8px;
  }

  .mayor-info {
    font-size: $font-size-mayoral-table-info;
    line-height: 16px;
    text-align: left;
  }

  .mayor-picture {
    border: 1px solid #c0c0c0;
    width: 80px;
  }

  .mayor-picture:hover {
    opacity:0.9;
  }

  .mayor-name {
    font-size: 18px;
    font-weight: 700;
    line-height: 21px;
    padding-bottom: 3px;
  }

  .mayoral-table-number,
  .mayoral-table-blank {
    font-size: $font-size-mayoral-table-number;
    vertical-align: middle;
  }

  td, th {
    padding: 14px 8px;
    text-align: center;

    &:nth-child(3) {
      background-color: rgba(0, 0, 0, 0.1);
    }
  }

  th {
    font-weight: normal;
    width: 130px;
  }

  th.bold {
   font-weight:bold;
  }

  td {
    border-top: 2px #ddd solid;
  }

  p {
    margin: 0;
  }

  /* Move candidate name above each row on mobile */
  @include degrade(extra-small) {
    thead tr {
      display: block;
    }

    th#mayoral-table-picture-column, 
    th#mayoral-table-name-column, 
    td.headshot {
      display: none;
    }

    th {
      width: 20%;
    }

    td {
      display: block;
      float: left;
      width: 20%;

      &.total-raised {
        clear: both;
      }

      &.mayor-info {
        width: 100%;
        padding-top: 12px;
        padding-bottom: 2px;

        p.mayor-name,
        p.mayor-profession {
          display: inline;
        }
      }
    }
  }

}

.mayoral-dataless-candidate-list {
  list-style: none;
  padding-left: 10px;
}

.mayoral-dataless-candidate {
  float: left;
  font-size: $font-size-mayoral-table-info;
  line-height: 16px;
  margin-bottom: 1em;

  @include degrade(medium) {
    min-height: 80px;
  }

  .mayor-info {
    text-align: left;
  }

  .mayor-picture {
    border: 1px solid #c0c0c0;
    float: left;
    margin-right: 1em;
    width: 50px;
  }

  .mayor-picture:hover {
    opacity:0.9;
  }

  .mayor-name {
    font-size: 18px;
    font-weight: 700;
    line-height: 21px;
    margin: 3px 0 5px;
  }
}

/* ------------------- Candidate Page -------------------- */

#candidate {
  h2, h4 {
    text-align: left;
  }

  .mayor-picture-inline {
    float: left;
    margin-right: 12px;
    width: 64px;
  }

  #candidateDetails{
    img {
      border: 1px solid #c0c0c0;
      margin: 0 0 6px 8px;
      width: 90%;
    }

    p {
      font-size: 13px;
      line-height: 19px;
      margin-bottom: 5px;
      padding: 0 8px;
    }

    .fa-twitter {
      vertical-align: middle;
      color: #555555;
      font-size: 14px;
      margin-right: 4px;
    }

    .sources{
      font-size: 11px;
      line-height: 15px;
      margin-bottom: 10px;
      padding: 0 6px;
    }

    .sources span{
      font-size: 13px;
    }

  }

  .contributions, .multiples {
    margin-bottom: 1em;
  }
}

#mathbar {
  border-bottom: none;
  color: white;
  font-family: 'Crete Round', serif;
  line-height: 18px;
  width: 100%;
  padding: 0;
  margin: 0;

  .money-label {
    background-color: $color-green-accent;
    display: block;
    font-size: 12px;
    letter-spacing: 0.5px;
    padding: 6px 12px;
  }

  .money-number {
    font-size: 22px;
  }

  .mathsign {
    float: right;
    font-size: 32px;
    line-height: 2px;

    @include degrade(extra-small) {
      display: none;   // they show in the wrong place; it's confusing
    }
  }

  .money-label.count{
    background-color: $color-gold-highlight;
    color: #303030;
  }

}


/* ------------------- About Page -------------------- */
#about {
  font-size: 14;
  max-width: 800px;
}

/* ------------------- FAQ Page -------------------- */

#faq {

  table {
    margin: 15px auto;
    border:1px solid black;

    th, td {
      text-align: center;
      padding: 5px 10px;
      border:1px solid black;
    }
  }
}
