.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.bar {
  fill: steelblue;
}

.x.axis path {
  display: none;
}

.bar rect
{
  /*
  fill: black;
  stroke: black;
  */
}
.label
{
  font-family: Verdana;
  font-size: 15pt;
  color: gray;
  fill-opacity: .6;
}
.value
{
  font-family: Verdana;
  font-size: 11pt;
  color: gray;
  fill-opacity: .6;
}

.tick_label
{
  font-size: 15pt;
  font-family: Verdana;
  color: gray;
  fill-opacity: .6;
}
